/*HEADER*/
header{
    background-color: #23242A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
#header-logo{
    margin: 15px 0 20px 30px;
    color: #E4ECF2;
    font-size: 0.8rem;
    font-family: 'Dancing Script', cursive;
}
#nav-itens{
    display: flex;
    list-style-type: none;
    margin: 0 15px 0 0;
    align-items: center;
}
#nav-itens a{
    text-decoration: none;
    margin: 0 20px 0 0;
}
#nav-itens li{
    font-size: 0.9rem;
    color: #D1DCE5;
    font-family: 'Roboto', sans-serif;
}
#nav-itens li:hover{
    font-size: 0.9rem;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #FFF;
}
#nav-itens #GIT-list-item{
    font-size: 1rem;
    padding: 5px 20px;
    margin: 0 12px 0 15px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #FFF;
    border-radius: 5px;
}

/*MAIN*/
/*1 - Title*/
.welcome-view{
    background-color: #23242A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-title{
    margin: 120px 0 20px 0;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}
#sub-title{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    max-width: 950px;
    font-size: 3.7rem;
    text-align: center;
}
#GIT-main-btn{
    margin: 95px 0 150px 0;
    color: #FFF;
    border: none;
    background: #FF4242;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    font-size: 1.3rem;
    font-weight: 800;
    cursor: pointer;
}

/*2 - Caroseul*/
.carousel{
    display: flex;
    justify-content: flex-end;
}
.card-box{
    border-radius: 8px;
    background-color: #FFF;
    height: 280px;
    width: 260px;
    position: relative;
    bottom: 60px;
    box-shadow: 7px 5px 14px 7px rgba(0,0,0,0.10);
    margin: 0 30px 0 0;
}
.card-box-title{
    margin: 30px 0 30px 25px;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    max-width: 205px;
}
.card-box-p{
    max-width: 205px;
    margin: 0 0 25px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
.card-box-anchor{
    margin: 0 0 0 25px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #11131E;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: 25%;
}.card-box-anchor:hover{
    color: #0E6FFF;
    text-decoration: underline;
    opacity: 100%;
}
.carousel-buttons{
    background-color: #FFF;
    display: flex;
    margin: 10px 0 110px 0;
}
.left-button{
    border: none;
    width: 31px;
    height: 31px;
    background-color: transparent;
    background-image: url("../images/icons/gray-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 20px 0 10%;
}
.right-button{
    border: none;
    width: 31px;
    height: 31px;
    background-color: transparent;
    background-image: url("../images/icons/blue-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/*Sections*/
.section{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
}
.section-title{
    font-size: 1.9rem;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 30px 0;
}
.section-p{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 30px 0;
}
.section .card-box-anchor{
    margin: 0;
}

/*3 - Section 1*/
.section-1{
    display: flex;
    justify-content: center;
    margin: 0 0 120px 0;
}
.section-1 .section{
    margin: 0 120px 0 0;
    justify-content: center;
}
.img-1{
    width: 340px;
}

/*4 - Section 2*/
.section-2{
    display: flex;
    justify-content: center;
    margin: 0 0 120px 0;
}
.section-2 .section{
    justify-content: center;
}
.img-2{
    width: 340px;
    margin: 0 100px 120px 0;
}

/*5 - CTA*/
.container{
    display: flex;
    justify-content: center;
}
.CTA{
    padding: 50px 0;
    margin: 0 0 280px 0;
    background-color: #23242A;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.CTA-text{
    max-width: 420px;
    margin: 0 50px 0 0;
}
.CTA-text h2{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}
.CTA-text p{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;

}
.CTA-button{
    background-color: #FF4242;
    color: #FFF;
    padding: 15px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*6 - Section 3*/
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3 .section{
    width: 32.5%;
    margin: 0;
}
.img-3{
    width: 70%;
    position: relative;
    bottom: 60px;
}

/*10 - Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0 0 0;
    margin: 0 0 50px 0;
    border-top: 1px solid #cccccc;
}
footer p{
    color: #23242A;
    opacity: 50%;
    font-family: 'Roboto', sans-serif;
}
footer a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}